In [1]:
import pandas as pd

In [ ]:
def solve(n):
    df=pd.read_csv('flow_data.csv')
    div=59242.27/n
    mp={}
    minn=[]
    maxn=[]
    for i in range(n):
        minn.append(0x3f3f3f3f)
        maxn.append(-0x3f3f3f3f)

    for iter,row in df.iterrows():
        bucket=int(min(max(row['money'],0)//div,n-1))
        tar=(row['time'],bucket)
        mp[tar]=mp.get(tar,0)+1
        minn[bucket]=min(minn[bucket],row['money'])
        maxn[bucket]=max(maxn[bucket],row['money'])
    
    import json
    with open("flow_data.json", 'w', encoding='utf8') as f:
        obj = [{"time": a, "group": str([minn[b],maxn[b]]),"value":v }for (a,b), v in mp.items()]
        json.dump(obj, f, ensure_ascii=False)

In [7]:
n=6

df=pd.read_csv('flow_data.csv')

In [12]:
a=df.sort_values(by=['money'])
a

       Unnamed: 0        time      money
59575       59575  2018-05-22    -320.82
21490       21490  2018-05-08      -0.60
69012       69012  2018-05-28       0.00
51152       51152  2018-05-21       0.00
51144       51144  2018-05-21       0.00
...           ...         ...        ...
48393       48393  2018-05-19   29947.67
27370       27370  2018-05-10   32685.85
69814       69814  2018-05-29   50078.31
37518       37518  2018-05-15   59242.27
42010       42010  2018-05-17  264047.50

[77079 rows x 3 columns]

In [20]:
div=59242.27/n
mp={}
minn=[]
maxn=[]
for i in range(n):
    minn.append(0x3f3f3f3f)
    maxn.append(-0x3f3f3f3f)

for iter,row in df.iterrows():
    bucket=int(min(max(row['money'],0)//div,n-1))
    tar=(row['time'],bucket)
    mp[tar]=mp.get(tar,0)+1
    minn[bucket]=min(minn[bucket],row['money'])
    maxn[bucket]=max(maxn[bucket],row['money'])

In [23]:
import json
with open("flow_data.json", 'w', encoding='utf8') as f:
    obj = [{"time": a, "group": str([minn[b],maxn[b]]),"value":v }for (a,b), v in mp.items()]
    json.dump(obj, f, ensure_ascii=False)